# Obtaining data from IBGE

In [3]:
from pysus.demography import stats
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Listing Subject Areas
IBGE makes available data from a number of surveys on different subjects. We can find out what is available, before downloading data.

In [4]:
ag = stats.list_agregados()
ag

,id,nome,agregados
0,CL,Cadastro Central de Empresas,"[{'id': '1732', 'nome': 'Dados gerais das empr..."
1,CA,Censo Agropecuário,"[{'id': '1278', 'nome': 'Agroindústria rural n..."
2,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '2059', 'nome': 'Domicílios e Populaçã..."
3,CD,Censo Demográfico,"[{'id': '1301', 'nome': 'Área e Densidade demo..."
4,CM,Contagem da População,"[{'id': '479', 'nome': 'Chefes de domicílios p..."
...,...,...,...
57,VS,Produção da Extração Vegetal e da Silvicultura,"[{'id': '5930', 'nome': 'Área total existente ..."
58,PO,Produção de Ovos de Galinha,"[{'id': '915', 'nome': 'Número de informantes,..."
59,IO,Produto Interno Bruto dos Municípios,"[{'id': '599', 'nome': 'Índice de Gini do prod..."
60,XE,Projeção da População,"[{'id': '7362', 'nome': 'Esperança de vida ao ..."
61,SI,Sistema Nacional de Pesquisa de Custos e Índic...,"[{'id': '33', 'nome': 'Custo de projeto m², po..."

Let's look at the datasets (called "agregados") available within the category of "Censo Demografico".

In [5]:
pd.DataFrame(ag[ag.id=='CD'].agregados.iloc[0])

       id                                               nome
0    1301  Área e Densidade demográfica da unidade territ...
1     617  Brasileiros natos por unidade da federação de ...
2    2149  Brasileiros natos por unidade da federação de ...
3     164  Chefes de domicílios particulares permanentes ...
4     171  Chefes de domicílios particulares permanentes ...
..    ...                                                ...
911   241  Valor do rendimento nominal médio mensal dos d...
912  3283  Valor do rendimento nominal médio mensal e Val...
913  3282  Valor do rendimento nominal médio mensal e Val...
914  3527  Valor do rendimento nominal médio mensal e Val...
915  3514  Valor do rendimento nominal médio mensal e Val...

[916 rows x 2 columns]

Again for population projections

In [6]:
pd.DataFrame(ag[ag.id=='XE'].agregados.iloc[0])

     id                                               nome
0  7362  Esperança de vida ao nascer e Taxa de mortalid...
1  7360    Indicadores implícitos na projeção da população
2  7358                        População, por sexo e idade
3  7365           Proporção de pessoas, por grupo de idade
4  7363  Taxa específica de fecundidade, por grupo de i...

### Downloading data
Before downloading the data, it may be useful to look at the metadata of the dataset we are interested in.

In [7]:
stats.metadados(7358)

{'id': 7358,
 'nome': 'População, por sexo e idade',
 'URL': 'http://sidra.ibge.gov.br/tabela/7358',
 'pesquisa': 'Projeção da População',
 'assunto': 'Geral',
 'periodicidade': {'frequencia': 'anual', 'inicio': 2018, 'fim': 2018},
 'nivelTerritorial': {'Administrativo': ['N1', 'N2', 'N3'],
  'Especial': [],
  'IBGE': []},
 'variaveis': [{'id': 606,
   'nome': 'População',
   'unidade': 'Pessoas',
   'sumarizacao': []}],
 'classificacoes': [{'id': 2,
   'nome': 'Sexo',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 6794, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 4, 'nome': 'Homens', 'unidade': None, 'nivel': 1},
    {'id': 5, 'nome': 'Mulheres', 'unidade': None, 'nivel': 1}]},
  {'id': 287,
   'nome': 'Idade',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 100362, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 93070, 'nome': '0 a 4 anos', 'unidade': None, 'nivel': 1},
    {'id': 49111, 'nome': '0 ano', 'unidade': None, 'nivel': 2},
    {'id': 6558, 'nome': '1 ano', 'unidade': None, 'nivel': 2},
    {'id': 6559, 'nome': '2 anos', 'unidade': None, 'nivel': 2},
    {'id': 6560, 'nome': '3 anos', 'unidade': None, 'nivel': 2},
    {'id': 6561, 'nome': '4 anos', 'unidade': None, 'nivel': 2},
    {'id': 93084, 'nome': '5 a 9 anos', 'unidade': None, 'nivel': 1},
    {'id': 6562, 'nome': '5 anos', 'unidade': None, 'nivel': 2},
    {'id': 6563, 'nome': '6 anos', 'unidade': None, 'nivel': 2},
    {'id': 6564, 'nome': '7 anos', 'unidade': None, 'nivel': 2},
    {'id': 6565, 'nome': '8 anos', 'unidade': None, 'nivel': 2},
    {'id': 6566, 'nome': '9 anos', 'unidade': None, 'nivel': 2},
    {'id': 93085, 'nome': '10 a 14 anos', 'unidade': None, 'nivel': 1},
    {'id': 6567, 'nome': '10 anos', 'unidade': None, 'nivel': 2},
    {'id': 6568, 'nome': '11 anos', 'unidade': None, 'nivel': 2},
    {'id': 6569, 'nome': '12 anos', 'unidade': None, 'nivel': 2},
    {'id': 6570, 'nome': '13 anos', 'unidade': None, 'nivel': 2},
    {'id': 6571, 'nome': '14 anos', 'unidade': None, 'nivel': 2},
    {'id': 93086, 'nome': '15 a 19 anos', 'unidade': None, 'nivel': 1},
    {'id': 6572, 'nome': '15 anos', 'unidade': None, 'nivel': 2},
    {'id': 6573, 'nome': '16 anos', 'unidade': None, 'nivel': 2},
    {'id': 6574, 'nome': '17 anos', 'unidade': None, 'nivel': 2},
    {'id': 6575, 'nome': '18 anos', 'unidade': None, 'nivel': 2},
    {'id': 6576, 'nome': '19 anos', 'unidade': None, 'nivel': 2},
    {'id': 93087, 'nome': '20 a 24 anos', 'unidade': None, 'nivel': 1},
    {'id': 6577, 'nome': '20 anos', 'unidade': None, 'nivel': 2},
    {'id': 6578, 'nome': '21 anos', 'unidade': None, 'nivel': 2},
    {'id': 6579, 'nome': '22 anos', 'unidade': None, 'nivel': 2},
    {'id': 6580, 'nome': '23 anos', 'unidade': None, 'nivel': 2},
    {'id': 6581, 'nome': '24 anos', 'unidade': None, 'nivel': 2},
    {'id': 93088, 'nome': '25 a 29 anos', 'unidade': None, 'nivel': 1},
    {'id': 6582, 'nome': '25 anos', 'unidade': None, 'nivel': 2},
    {'id': 6656, 'nome': '26 anos', 'unidade': None, 'nivel': 2},
    {'id': 6657, 'nome': '27 anos', 'unidade': None, 'nivel': 2},
    {'id': 6658, 'nome': '28 anos', 'unidade': None, 'nivel': 2},
    {'id': 6659, 'nome': '29 anos', 'unidade': None, 'nivel': 2},
    {'id': 93089, 'nome': '30 a 34 anos', 'unidade': None, 'nivel': 1},
    {'id': 6583, 'nome': '30 anos', 'unidade': None, 'nivel': 2},
    {'id': 6584, 'nome': '31 anos', 'unidade': None, 'nivel': 2},
    {'id': 6585, 'nome': '32 anos', 'unidade': None, 'nivel': 2},
    {'id': 6586, 'nome': '33 anos', 'unidade': None, 'nivel': 2},
    {'id': 6587, 'nome': '34 anos', 'unidade': None, 'nivel': 2},
    {'id': 93090, 'nome': '35 a 39 anos', 'unidade': None, 'nivel': 1},
    {'id': 6588, 'nome': '35 anos', 'unidade': None, 'nivel': 2},
    {'id': 6589, 'nome': '36 anos', 'unidade': None, 'nivel': 2},
    {'id': 6590, 'nome': '37 anos', 'unidade': None, 'nivel': 2},
    {'id': 6591, 'nome': '38 anos', 'unidade': None, 'nivel': 2},
    {'id': 6592, 'nome': '39 anos', 'unidade': None, 'nivel': 2},
    {'id': 93091, 'nome': '40 a 44 anos', 'unidade': None, 'nivel': 1},
    {'id': 6593, 'nome': '40 anos', 'unidade': None, 'nivel': 2},
    {'id': 6594, 'nome': '41 anos', 'unidade': None, 'nivel': 2},
    {'id': 6595, 'nome': '42 anos', 'unidade': None, 'nivel': 2},
    {'id': 6596, 'nome': '43 anos', 'unidade': None, 'nivel': 2},
    {'id': 6597, 'nome': '44 anos', 'unidade': None, 'nivel': 2},
    {'id': 93092, 'nome': '45 a 49 anos', 'unidade': None, 'nivel': 1},
    {'id': 6598, 'nome': '45 anos', 'unidade': None, 'nivel': 2},
    {'id': 6599, 'nome': '46 anos', 'unidade': None, 'nivel': 2},
    {'id': 6600, 'nome': '47 anos', 'unidade': None, 'nivel': 2},
    {'id': 6601, 'nome': '48 anos', 'unidade': None, 'nivel': 2},
    {'id': 6602, 'nome': '49 anos', 'unidade': None, 'nivel': 2},
    {'id': 93093, 'nome': '50 a 54 anos', 'unidade': None, 'nivel': 1},
    {'id': 6603, 'nome': '50 anos', 'unidade': None, 'nivel': 2},
    {'id': 6604, 'nome': '51 anos', 'unidade': None, 'nivel': 2},
    {'id': 6605, 'nome': '52 anos', 'unidade': None, 'nivel': 2},
    {'id': 6606, 'nome': '53 anos', 'unidade': None, 'nivel': 2},
    {'id': 6607, 'nome': '54 anos', 'unidade': None, 'nivel': 2},
    {'id': 93094, 'nome': '55 a 59 anos', 'unidade': None, 'nivel': 1},
    {'id': 6608, 'nome': '55 anos', 'unidade': None, 'nivel': 2},
    {'id': 6609, 'nome': '56 anos', 'unidade': None, 'nivel': 2},
    {'id': 6610, 'nome': '57 anos', 'unidade': None, 'nivel': 2},
    {'id': 6611, 'nome': '58 anos', 'unidade': None, 'nivel': 2},
    {'id': 6612, 'nome': '59 anos', 'unidade': None, 'nivel': 2},
    {'id': 93095, 'nome': '60 a 64 anos', 'unidade': None, 'nivel': 1},
    {'id': 6613, 'nome': '60 anos', 'unidade': None, 'nivel': 2},
    {'id': 6614, 'nome': '61 anos', 'unidade': None, 'nivel': 2},
    {'id': 6615, 'nome': '62 anos', 'unidade': None, 'nivel': 2},
    {'id': 6616, 'nome': '63 anos', 'unidade': None, 'nivel': 2},
    {'id': 6617, 'nome': '64 anos', 'unidade': None, 'nivel': 2},
    {'id': 93096, 'nome': '65 a 69 anos', 'unidade': None, 'nivel': 1},
    {'id': 6618, 'nome': '65 anos', 'unidade': None, 'nivel': 2},
    {'id': 6619, 'nome': '66 anos', 'unidade': None, 'nivel': 2},
    {'id': 6620, 'nome': '67 anos', 'unidade': None, 'nivel': 2},
    {'id': 6621, 'nome': '68 anos', 'unidade': None, 'nivel': 2},
    {'id': 6622, 'nome': '69 anos', 'unidade': None, 'nivel': 2},
    {'id': 93097, 'nome': '70 a 74 anos', 'unidade': None, 'nivel': 1},
    {'id': 6623, 'nome': '70 anos', 'unidade': None, 'nivel': 2},
    {'id': 6624, 'nome': '71 anos', 'unidade': None, 'nivel': 2},
    {'id': 6625, 'nome': '72 anos', 'unidade': None, 'nivel': 2},
    {'id': 6626, 'nome': '73 anos', 'unidade': None, 'nivel': 2},
    {'id': 6627, 'nome': '74 anos', 'unidade': None, 'nivel': 2},
    {'id': 93098, 'nome': '75 a 79 anos', 'unidade': None, 'nivel': 1},
    {'id': 6628, 'nome': '75 anos', 'unidade': None, 'nivel': 2},
    {'id': 6629, 'nome': '76 anos', 'unidade': None, 'nivel': 2},
    {'id': 6630, 'nome': '77 anos', 'unidade': None, 'nivel': 2},
    {'id': 6631, 'nome': '78 anos', 'unidade': None, 'nivel': 2},
    {'id': 6632, 'nome': '79 anos', 'unidade': None, 'nivel': 2},
    {'id': 113623, 'nome': '80 anos ou mais', 'unidade': None, 'nivel': 1},
    {'id': 49108, 'nome': '80 a 84 anos', 'unidade': None, 'nivel': 2},
    {'id': 6633, 'nome': '80 anos', 'unidade': None, 'nivel': 3},
    {'id': 6634, 'nome': '81 anos', 'unidade': None, 'nivel': 3},
    {'id': 6635, 'nome': '82 anos', 'unidade': None, 'nivel': 3},
    {'id': 6636, 'nome': '83 anos', 'unidade': None, 'nivel': 3},
    {'id': 6637, 'nome': '84 anos', 'unidade': None, 'nivel': 3},
    {'id': 49109, 'nome': '85 a 89 anos', 'unidade': None, 'nivel': 2},
    {'id': 6638, 'nome': '85 anos', 'unidade': None, 'nivel': 3},
    {'id': 6639, 'nome': '86 anos', 'unidade': None, 'nivel': 3},
    {'id': 6640, 'nome': '87 anos', 'unidade': None, 'nivel': 3},
    {'id': 6641, 'nome': '88 anos', 'unidade': None, 'nivel': 3},
    {'id': 6642, 'nome': '89 anos', 'unidade': None, 'nivel': 3},
    {'id': 49110, 'nome': '90 anos ou mais', 'unidade': None, 'nivel': 2}]},
  {'id': 1933,
   'nome': 'Ano',
   'sumarizacao': {'status': False, 'excecao': []},
   'categorias': [{'id': 116338, 'nome': '2000', 'unidade': None, 'nivel': 0},
    {'id': 116336, 'nome': '2001', 'unidade': None, 'nivel': 0},
    {'id': 116335, 'nome': '2002', 'unidade': None, 'nivel': 0},
    {'id': 116334, 'nome': '2003', 'unidade': None, 'nivel': 0},
    {'id': 116332, 'nome': '2004', 'unidade': None, 'nivel': 0},
    {'id': 116331, 'nome': '2005', 'unidade': None, 'nivel': 0},
    {'id': 116330, 'nome': '2006', 'unidade': None, 'nivel': 0},
    {'id': 116329, 'nome': '2007', 'unidade': None, 'nivel': 0},
    {'id': 116327, 'nome': '2008', 'unidade': None, 'nivel': 0},
    {'id': 119270, 'nome': '2009', 'unidade': None, 'nivel': 0},
    {'id': 4336, 'nome': '2010', 'unidade': None, 'nivel': 0},
    {'id': 12037, 'nome': '2011', 'unidade': None, 'nivel': 0},
    {'id': 13242, 'nome': '2012', 'unidade': None, 'nivel': 0},
    {'id': 49029, 'nome': '2013', 'unidade': None, 'nivel': 0},
    {'id': 49030, 'nome': '2014', 'unidade': None, 'nivel': 0},
    {'id': 49031, 'nome': '2015', 'unidade': None, 'nivel': 0},
    {'id': 49032, 'nome': '2016', 'unidade': None, 'nivel': 0},
    {'id': 49033, 'nome': '2017', 'unidade': None, 'nivel': 0},
    {'id': 49034, 'nome': '2018', 'unidade': None, 'nivel': 0},
    {'id': 49035, 'nome': '2019', 'unidade': None, 'nivel': 0},
    {'id': 49036, 'nome': '2020', 'unidade': None, 'nivel': 0},
    {'id': 49037, 'nome': '2021', 'unidade': None, 'nivel': 0},
    {'id': 49038, 'nome': '2022', 'unidade': None, 'nivel': 0},
    {'id': 49039, 'nome': '2023', 'unidade': None, 'nivel': 0},
    {'id': 49040, 'nome': '2024', 'unidade': None, 'nivel': 0},
    {'id': 49041, 'nome': '2025', 'unidade': None, 'nivel': 0},
    {'id': 49042, 'nome': '2026', 'unidade': None, 'nivel': 0},
    {'id': 49043, 'nome': '2027', 'unidade': None, 'nivel': 0},
    {'id': 49044, 'nome': '2028', 'unidade': None, 'nivel': 0},
    {'id': 49045, 'nome': '2029', 'unidade': None, 'nivel': 0},
    {'id': 49046, 'nome': '2030', 'unidade': None, 'nivel': 0},
    {'id': 49047, 'nome': '2031', 'unidade': None, 'nivel': 0},
    {'id': 49048, 'nome': '2032', 'unidade': None, 'nivel': 0},
    {'id': 49049, 'nome': '2033', 'unidade': None, 'nivel': 0},
    {'id': 49050, 'nome': '2034', 'unidade': None, 'nivel': 0},
    {'id': 49051, 'nome': '2035', 'unidade': None, 'nivel': 0},
    {'id': 49052, 'nome': '2036', 'unidade': None, 'nivel': 0},
    {'id': 49053, 'nome': '2037', 'unidade': None, 'nivel': 0},
    {'id': 49054, 'nome': '2038', 'unidade': None, 'nivel': 0},
    {'id': 49055, 'nome': '2039', 'unidade': None, 'nivel': 0},
    {'id': 49056, 'nome': '2040', 'unidade': None, 'nivel': 0},
    {'id': 49057, 'nome': '2041', 'unidade': None, 'nivel': 0},
    {'id': 49058, 'nome': '2042', 'unidade': None, 'nivel': 0},
    {'id': 49059, 'nome': '2043', 'unidade': None, 'nivel': 0},
    {'id': 49060, 'nome': '2044', 'unidade': None, 'nivel': 0},
    {'id': 49061, 'nome': '2045', 'unidade': None, 'nivel': 0},
    {'id': 49062, 'nome': '2046', 'unidade': None, 'nivel': 0},
    {'id': 49063, 'nome': '2047', 'unidade': None, 'nivel': 0},
    {'id': 49064, 'nome': '2048', 'unidade': None, 'nivel': 0},
    {'id': 49065, 'nome': '2049', 'unidade': None, 'nivel': 0},
    {'id': 49066, 'nome': '2050', 'unidade': None, 'nivel': 0},
    {'id': 49067, 'nome': '2051', 'unidade': None, 'nivel': 0},
    {'id': 49068, 'nome': '2052', 'unidade': None, 'nivel': 0},
    {'id': 49069, 'nome': '2053', 'unidade': None, 'nivel': 0},
    {'id': 49070, 'nome': '2054', 'unidade': None, 'nivel': 0},
    {'id': 49071, 'nome': '2055', 'unidade': None, 'nivel': 0},
    {'id': 49072, 'nome': '2056', 'unidade': None, 'nivel': 0},
    {'id': 49073, 'nome': '2057', 'unidade': None, 'nivel': 0},
    {'id': 49074, 'nome': '2058', 'unidade': None, 'nivel': 0},
    {'id': 49075, 'nome': '2059', 'unidade': None, 'nivel': 0},
    {'id': 49076, 'nome': '2060', 'unidade': None, 'nivel': 0}]}]}

In [8]:
stats.lista_periodos(7358)

     id literals
0  2018   [2018]

In [14]:
stats.localidades_por_agregado(7358, nivel='N3')

    id                 nome                                         nivel
0   11             Rondônia  {'id': 'N3', 'nome': 'Unidade da Federação'}
1   12                 Acre  {'id': 'N3', 'nome': 'Unidade da Federação'}
2   13             Amazonas  {'id': 'N3', 'nome': 'Unidade da Federação'}
3   14              Roraima  {'id': 'N3', 'nome': 'Unidade da Federação'}
4   15                 Pará  {'id': 'N3', 'nome': 'Unidade da Federação'}
5   16                Amapá  {'id': 'N3', 'nome': 'Unidade da Federação'}
6   17            Tocantins  {'id': 'N3', 'nome': 'Unidade da Federação'}
7   21             Maranhão  {'id': 'N3', 'nome': 'Unidade da Federação'}
8   22                Piauí  {'id': 'N3', 'nome': 'Unidade da Federação'}
9   23                Ceará  {'id': 'N3', 'nome': 'Unidade da Federação'}
10  24  Rio Grande do Norte  {'id': 'N3', 'nome': 'Unidade da Federação'}
11  25              Paraíba  {'id': 'N3', 'nome': 'Unidade da Federação'}
12  26           Pernambuco  {'id': 'N3', 'nome': 'Unidade da Federação'}
13  27              Alagoas  {'id': 'N3', 'nome': 'Unidade da Federação'}
14  28              Sergipe  {'id': 'N3', 'nome': 'Unidade da Federação'}
15  29                Bahia  {'id': 'N3', 'nome': 'Unidade da Federação'}
16  31         Minas Gerais  {'id': 'N3', 'nome': 'Unidade da Federação'}
17  32       Espírito Santo  {'id': 'N3', 'nome': 'Unidade da Federação'}
18  33       Rio de Janeiro  {'id': 'N3', 'nome': 'Unidade da Federação'}
19  35            São Paulo  {'id': 'N3', 'nome': 'Unidade da Federação'}
20  41               Paraná  {'id': 'N3', 'nome': 'Unidade da Federação'}
21  42       Santa Catarina  {'id': 'N3', 'nome': 'Unidade da Federação'}
22  43    Rio Grande do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
23  50   Mato Grosso do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
24  51          Mato Grosso  {'id': 'N3', 'nome': 'Unidade da Federação'}
25  52                Goiás  {'id': 'N3', 'nome': 'Unidade da Federação'}
26  53     Distrito Federal  {'id': 'N3', 'nome': 'Unidade da Federação'}

In [30]:
df = stats.variaveis_agregado(7358,periodos=2018,variavel=606,localidades='N3[all]', 
                              classificacao='2[4,5]|287[93070,93084,93085,93086,93087,93088,93089]', view='flat')
df

,NC,NN,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N,MC,MN,V
0,Nível Territorial (Código),Nível Territorial,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável,Sexo (Código),Sexo,Idade (Código),Idade,Ano (Código),Ano,Unidade de Medida (Código),Unidade de Medida,Valor
1,3,Unidade da Federação,11,Rondônia,2018,2018,606,População,4,Homens,93070,0 a 4 anos,0,,45,Pessoas,..
2,3,Unidade da Federação,11,Rondônia,2018,2018,606,População,4,Homens,93084,5 a 9 anos,0,,45,Pessoas,..
3,3,Unidade da Federação,11,Rondônia,2018,2018,606,População,4,Homens,93085,10 a 14 anos,0,,45,Pessoas,..
4,3,Unidade da Federação,11,Rondônia,2018,2018,606,População,4,Homens,93086,15 a 19 anos,0,,45,Pessoas,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,3,Unidade da Federação,53,Distrito Federal,2018,2018,606,População,5,Mulheres,93085,10 a 14 anos,0,,45,Pessoas,..
375,3,Unidade da Federação,53,Distrito Federal,2018,2018,606,População,5,Mulheres,93086,15 a 19 anos,0,,45,Pessoas,..
376,3,Unidade da Federação,53,Distrito Federal,2018,2018,606,População,5,Mulheres,93087,20 a 24 anos,0,,45,Pessoas,..
377,3,Unidade da Federação,53,Distrito Federal,2018,2018,606,População,5,Mulheres,93088,25 a 29 anos,0,,45,Pessoas,..
378,3,Unidade da Federação,53,Distrito Federal,2018,2018,606,População,5,Mulheres,93089,30 a 34 anos,0,,45,Pessoas,..