In [2]:
from ftplib import FTP
import os
import pandas as pd
from pysus.online_data.SIH import download

In [3]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
dfTO = download('to', 2009, 10)

In [5]:
dfTO.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,CID_ASSO,CID_MORTE,COMPLEX,FINANC,FAEC_TP,REGCT,RACA_COR,ETNIA,SEQUENCIA,REMESSA
0,170000,2009,10,01,25053117002450,1709100915852,1,77270000,172100,19731116,...,,,02,06,,0000,99,,566,HE17000001N200910.DTS
1,170000,2009,10,01,25053117002450,1709100915863,1,77700000,170930,19880312,...,,,02,06,,0000,03,,567,HE17000001N200910.DTS
2,170000,2009,10,01,25053117002450,1709100918459,1,77015202,172100,20070306,...,,,02,06,,0000,03,,710,HE17000001N200910.DTS
3,170000,2009,10,01,25053117002450,1709100918481,1,77650000,171320,19311004,...,,,03,06,,0000,03,,711,HE17000001N200910.DTS
4,170000,2009,10,01,25053117002450,1709100918492,1,77015202,172100,20010705,...,,,02,06,,0000,99,,712,HE17000001N200910.DTS

In [8]:
dfTO.to_csv('SIH_TO_10_2009.csv.gz', compression='gzip')